<!-- Extending the base template -->
{% extends 'base_layout.html' %}

{% block content %} <!-- Specifying location of the block using the name -->
<h1>Article List</h1>
<!-- Formating how articles in views.py are display -->
<div class="articles">
    {% for article in articles %}
        <div class="articles">
            <h2><a href="#">{{article.title}}</a></h2>
            <p>{{article.snippet}}</p> <!-- Use article.body to display the full content of an article-->
            <p>{{article.date}}</p>
        </div>
    {% endfor%}
</div>
{% endblock %}